@font-face {
  font-family: "Inter-Regular";
  font-display: swap;
  src:
    local("Inter"),
    url("fonts/Inter-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Manrope-ExtraLight";
  font-display: swap;
  src:
    local("Manrope"),
    url("fonts/Manrope-ExtraLight.woff2") format("woff2");
}

@font-face {
  font-family: "PlusJakartaSans-Regular";
  font-display: swap;
  src:
    local("Plus Jakarta Sans"),
    url("fonts/PlusJakartaSans-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Poppins-Regular";
  font-display: swap;
  src:
    local("Poppins"),
    url("fonts/Poppins-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "PublicSans-Thin";
  font-display: swap;
  src:
    local("Public Sans"),
    url("fonts/PublicSans-Thin.woff2") format("woff2");
}


