:root {
  /* Нейтральные цвета */
  --gray-granite-99: #636363;
  /* Гранитно-серый */
  --grey-crayola: #323142;
  /* Серый Крайола */
  --blue-charcoal: #334155;
  /* Синий уголь */
  --white: #FFF;
  /* Белый */
  --very-light-gray: #f9f9f9;
  /* Очень светло-серый */
  --light-gray: #ddd;
  /* Светло-серый */
  --silver: #ccc;
  /* серебро */

  /* Акцентные цвета */
  --blue-violet-124: #7C6FCD;
  /* Синий фиолетовый */
  --blue-catalina: #002073;
  /* Синий каталина */
  --blue-azure: #007bff;
  /* Лазурный синий */
  --blue-medium-dark:#0056b3;
  /* Средний темно-синий */
  --green-sea: #309D5B;
  /* Морской зеленый */
  --black-olive: #3E3E3E;
  /* Черный оливковый */

  /* Font Family */
  --font-family-base: "Inter", sans-serif;

  --popins: "Poppins", sans-serif;
  --plus-jakarta-sans: "Plus Jakarta Sans", sans-serif;
  --manrope: "Manrope", sans-serif;


  /* Shadows */
  --box-shadow: 7px 82px 42px var(--grey-crayola);

  /* Container */
  --container-width: 1240px;
  --container-padding-x: 15px;

  /* Transition */
  --transition-duration: 0.2s;
}
