.header {
  &__inner {
    @include flex-center;

  }

  &__title {
    text-align: center;
    padding-top: 20px;
    margin-bottom: 50px;


    & span {
      color: var(--gray-granite-99);
      font-weight: 600;
    }
  }
}



.main {

  &__title {
    text-align: center;
    font-weight: 600;
    margin-bottom: 20px;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-bottom: 50px;
  }

  &__info-item {
    & span {
      font-weight: 600;
    }
  }

  &__box {
    @include flex-center;

    &-image {
      border-radius: 10px;
      ;
    }
  }

}

.tohome-link {
  color: var(--blue-charcoal);
  text-shadow:
    1px 1px 1px var(--white),
    -1px -1px 1px var(--blue-violet-124);

  &:hover {
    color: var(--blue-catalina);
  }

  &:active {
    color: var(--blue-violet-124);
  }
}
